/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*GLOBAL*/
.width-80{
    width: 80%;
}

.text-titillium {
    font-family: 'Titillium Web', sans-serif;
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.text-size-24 {
    font-size: 24px;
}

.text-size {
    font-size: 14px;
}

.bg-centrado {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-05111B {
    background-color: #05111B;
}

.bg-072D4F {
    background-color: #072D4F;
}

.bg-040204 {
    background-color: #040204;
}

.border-5AFBFD {
    border: 2px solid #5AFBFD;
}

.text-color-5AFBFD {
    color: #5AFBFD;
}

.text-color-DBFFFF {
    color: #DBFFFF;
}

.width-100{
    width: 100%;
}


/*INDEX*/

.bg-index {
    background-image: url('../img/bg-index.jpg');
}

.height-120 {
    height: 120px;
}

.height-500 {
    height: 500px;
}

p{
    color: #DBFFFF;
}

/*ENEMIGOS*/

.bg-hologlobo {
    background-image: url('../img/bg-hologlobo.jpg');
}

.container-grid-enemigos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.2fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.Titulo {
    grid-area: 1 / 1 / 3 / 2;
}

.Fotos {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Anciano Enemigos";
    grid-area: 2 / 1 / 3 / 2;
}

.Anciano {
    grid-area: Anciano;
}

.Enemigos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Sectoide Comandante-sectoide Ciberdisco Muton"
        "Berserker Flotador Flotador-pesado Crisalida"
        "Crisalida-zombie Crisalida-neonata Hombre-delagado Soldado"
        "Sectopodo . . .";
    grid-area: Enemigos;
}

.Sectoide {
    grid-area: Sectoide;
}

.Comandante-sectoide {
    grid-area: Comandante-sectoide;
}

.Ciberdisco {
    grid-area: Ciberdisco;
}

.Muton {
    grid-area: Muton;
}

.Berserker {
    grid-area: Berserker;
}

.Flotador {
    grid-area: Flotador;
}

.Flotador-pesado {
    grid-area: Flotador-pesado;
}

.Crisalida {
    grid-area: Crisalida;
}

.Crisalida-zombie {
    grid-area: Crisalida-zombie;
}

.Crisalida-neonata {
    grid-area: Crisalida-neonata;
}

.Hombre-delagado {
    grid-area: Hombre-delagado;
}

.Soldado {
    grid-area: Soldado;
}

.Sectopodo {
    grid-area: Sectopodo;
}

/*ITEMS*/

/*MOVIL*/

@media (max-width:767px){
    .movil-flex{
        flex-direction: column;
    }

    .movil-wrap{
        flex-wrap: wrap;
    }

    .movil-center{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .movil-height-{
        height: 70px;
    }
}