@charset "UTF-8";
/*Reset*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*GLOBAL*/
/*Texto */
.text-titillium {
  font-family: "Titillium Web", sans-serif;
}

.text-roboto {
  font-family: "Roboto", sans-serif;
}

.text-size-24 {
  font-size: 24px;
}

.text-size {
  font-size: 14px;
}

.text-color-azul-claro {
  color: #5AFBFD;
}

.text-color-blanco {
  color: #DBFFFF;
}

.text-nav-a {
  text-decoration: none;
}

/*Fondos*/
.bg-centrado {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-gris {
  background-color: #05111B;
}

.bg-azul-oscuro {
  background-color: #072D4F;
}

.bg-negro {
  background-color: #040204;
}

.bg-index {
  background-image: url("../img/bg-index.jpg");
}

.bg-hologlobo {
  background-image: url("../img/bg-hologlobo.jpg");
}

/*Bordes*/
.border-azul-claro {
  border: 2px solid #5AFBFD;
}

/*Tamaños*/
.height-120 {
  height: 120px;
}

.height-500 {
  height: 500px;
}

.width-100 {
  width: 100%;
}

.width-200px {
  width: 95%;
}

/*Body*/
body main .container-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .container-flex-centered .container-main {
  max-width: 1023px;
  padding: 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
body main .container-flex-centered .container-main .contenedor-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%;
  gap: 5px;
  grid-template-areas: "berserker ciberdisco comandante" "crisalida etereo flotador-p" "flotador etereo hombre-d" "muton etereo sectoide" "sectopodo soldado zombie";
  width: 1023px;
}
body main .container-flex-centered .container-main .etereo {
  grid-area: etereo;
}
body main .container-flex-centered .container-main .berserker {
  grid-area: berserker;
}
body main .container-flex-centered .container-main .ciberdisco {
  grid-area: ciberdisco;
}
body main .container-flex-centered .container-main .comandante {
  grid-area: comandante;
}
body main .container-flex-centered .container-main .crisalida {
  grid-area: crisalida;
}
body main .container-flex-centered .container-main .flotador-p {
  grid-area: flotador-p;
}
body main .container-flex-centered .container-main .flotador {
  grid-area: flotador;
}
body main .container-flex-centered .container-main .hombre-d {
  grid-area: hombre-d;
}
body main .container-flex-centered .container-main .muton {
  grid-area: muton;
}
body main .container-flex-centered .container-main .sectoide {
  grid-area: sectoide;
}
body main .container-flex-centered .container-main .sectopodo {
  grid-area: sectopodo;
}
body main .container-flex-centered .container-main .soldado {
  grid-area: soldado;
}
body main .container-flex-centered .container-main .zombie {
  grid-area: zombie;
}
body main .container-flex-centered .container-main .display-none {
  display: none;
}
body main .container-flex-centered .container-main .parrafo {
  margin-top: 20px;
}
body main .container-flex-centered .container-main .container-articulos {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
body main .container-flex-centered .container-main .container-articulos .container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .container-flex-centered .container-main .container-articulos .container-flex-column ul .list-item-colors {
  background-color: #05111B;
  border: 2px solid #5AFBFD;
  color: #DBFFFF;
}

@media (max-width: 767px) {
  body nav .bg-gris .movil-flex {
    flex-direction: column;
  }
  body main .container-main {
    width: 767px;
  }
  body main .container-main .movil-wrap {
    flex-wrap: wrap;
  }
  body main .container-main .movil-width-100 {
    height: 100%;
  }
  body main .container-main .movil-flex {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  body main .bg-index .container-main .grid-movil {
    display: flex;
    flex-direction: column;
  }
  body main .bg-index .container-main .grid-movil img {
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
