//UTILIDADES
@import "./utilidades/variables";

@import "./utilidades/listas";

@import "./utilidades/mixin";

/*Reset*/
@import "./componentes/reset";

//COPONENTES

/*GLOBAL*/


/*Texto */
@import "./componentes/texto";

/*Fondos*/
@import "./componentes/fondo";

/*Bordes*/
@import "./componentes/borde";

/*Tamaños*/
@import "./componentes/tamaño";

/*Body*/
body {
    nav {
        .bg-gris {
            .container-nav {
                li {
                    a {}
                }
            }
        }
    }

    main {
        .container-flex-centered {
            display: flex;
            justify-content: center;
            align-items: center;

            .container-main {
                max-width: 1023px;
                padding: 30px;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
                margin-bottom: 30px;

                .contenedor-grid {
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    align-items: center;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 20% 20% 20% 20% 20%;
                    gap: 5px;
                    grid-template-areas:
                        "berserker ciberdisco comandante"
                        "crisalida etereo flotador-p"
                        "flotador etereo hombre-d"
                        "muton etereo sectoide"
                        "sectopodo soldado zombie";
                    width: 1023px;
                    
                }

                .etereo {
                    grid-area: etereo;
                }

                .berserker {
                    grid-area: berserker;
                }

                .ciberdisco {
                    grid-area: ciberdisco;
                }

                .comandante {
                    grid-area: comandante;
                }

                .crisalida {
                    grid-area: crisalida;
                }

                .flotador-p {
                    grid-area: flotador-p;
                }

                .flotador {
                    grid-area: flotador;
                }

                .hombre-d {
                    grid-area: hombre-d;
                }

                .muton {
                    grid-area: muton;
                }

                .sectoide {
                    grid-area: sectoide;
                }

                .sectopodo {
                    grid-area: sectopodo;
                }

                .soldado {
                    grid-area: soldado;
                }

                .zombie {
                    grid-area: zombie;
                }


                img {}

                .display-none {
                    display: none;
                }

                .parrafo {
                    margin-top: 20px;

                    .text-color-blanco {
                        p {}
                    }
                }

                .container-articulos {
                    width: 100%;
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-around;

                    img {}

                    hr {}

                    .container-flex-column {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h2 {}

                        ul {
                            .list-item-colors {
                                background-color: $gris;
                                border: 2px solid $azul-claro;
                                color: $blanco;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    body {
        nav {
            .bg-gris {
                .movil-flex {
                    flex-direction: column;
                }
            }
        }

        main {
            .container-main {
                width: 767px;

                .movil-wrap {
                    flex-wrap: wrap;
                }


                .movil-width-100 {
                    height: 100%;
                }

                .movil-flex {
                    flex-direction: column;
                }
            }
        }
    }
}

@media (max-width:767px) {
    body {
        main {
            .bg-index {
                .container-main {
                    .grid-movil {
                        display: flex;
                        flex-direction: column;
                        img{
                            height: 300px;
                        }
                    }
                }
            }
        }
    }

}