@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

.text-titillium {
    font-family: $Titillium, sans-serif;
}

.text-roboto {
    font-family: $Roboto, sans-serif;
}

.text-size-24 {
    font-size: 24px;
}

.text-size {
    font-size: 14px;
}